# Observations

The majority of Pymoli players identify as male making up almost 85% of the total players. Although they outnumber the other players, the players who identify as female or other spend about 50 cents more per purchase per person than the males. The majority of Pymoli players fall into the 20-24 age range. Players under 10 years old are second in average purchase price and average total per person despite having access to their own credit cards. The late 30s age range preceeds them in this category. Of the top 5 spenders, the two players with the least amount of purchases spent the most money per purchase. The top two most popular items are also the most profitable items along with Fiery Glass Crusader.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchaseData = pd.read_csv(file_to_load)

## Player Count

In [2]:
# Display total number of players
numPlayers = len(purchaseData ["SN"].value_counts())
numPlayersDF = pd.DataFrame([numPlayers], columns=["Total Players"])
numPlayersDF

   Total Players
0            576

## Purchasing Analysis (Total)

In [3]:
# Calculate purchase analysis summary items
uniqueItems = purchaseData["Item ID"].nunique()
avgPrice = purchaseData ["Price"].mean()
numPurchases = purchaseData ["Purchase ID"].nunique()
totalRevenue = purchaseData.Price.sum()

# Create summary as data frame
purchaseAnalysisDF = pd.DataFrame ({"Number of Unique Items": [uniqueItems],
                                 "Average Price": [avgPrice],
                                 "Number of Purchases": [numPurchases],
                                 "Total Revenue": [totalRevenue]})

# Format data frame
pd.options.display.float_format = "${:.2f}".format

purchaseAnalysisDF

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780       $2379.77

## Gender Demographics

In [4]:
# Drop duplicates screen name entries
dropDupLoc = purchaseData[["SN", "Gender"]]
playerCount = dropDupLoc.drop_duplicates()

# Calculate total percentage and count of each gender category
countGender = playerCount["Gender"].value_counts()
percentPlayers = (countGender / numPlayers) * 100
genderDemographicsDF = pd.DataFrame({"Total Count": countGender,
                                     "Percentage of Players": percentPlayers})

# Format data frame
pd.options.display.float_format = "{:.2f}%".format

genderDemographicsDF

                       Total Count  Percentage of Players
Male                           484                 84.03%
Female                          81                 14.06%
Other / Non-Disclosed           11                  1.91%


## Purchasing Analysis (Gender)

In [5]:
# Group by Gender
genderGroup = purchaseData.groupby(["Gender"])

# Calculate purchasing analysis items grouped by Gender
purchaseCount = genderGroup["SN"].count()
avgPurchPrice = genderGroup["Price"].mean()
totalPurchValue = genderGroup["Price"].sum()

# Delete all duplicates and regroup
duplicates = purchaseData.drop_duplicates(subset='SN', keep="first")
dupsGrouped = duplicates.groupby(["Gender"])

# Find normalized data
avgTotalPurchase = (genderGroup["Price"].sum() / dupsGrouped["SN"].count())

# Create summary as data frame
purchaseAnalysisDF = pd.DataFrame({"Purchase Count": purchaseCount,
                              "Average Purchase Price": avgPurchPrice,
                              "Total Purchase Value": totalPurchValue,
                              "Average Total Purchase per Person": avgTotalPurchase})
# Format data frame
purchaseAnalysisDF["Average Purchase Price"] = purchaseAnalysisDF["Average Purchase Price"].map("${:.2f}".format)
purchaseAnalysisDF["Total Purchase Value"] = purchaseAnalysisDF["Total Purchase Value"].map("${:.2f}".format)
purchaseAnalysisDF["Average Total Purchase per Person"] = purchaseAnalysisDF["Average Total Purchase per Person"].map("${:.2f}".format)
purchaseAnalysisDF = purchaseAnalysisDF[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Total Purchase per Person"]]

purchaseAnalysisDF

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [6]:
# Create bins for ages
ageBins = [0, 9, 14, 19, 24, 29, 34, 39, 155]

# Create group names for bins
groupNames = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize by age
agesGrouped = purchaseData.groupby(["Age"])

# Create data frame to hold results
ageDemoDF = purchaseData.copy()

# Create "Age Group" column in data frame
ageDemoDF["Age Group"] = pd.cut(ageDemoDF["Age"], ageBins, labels = groupNames)

# Create variable to hold grouped age data
ageGroupData = ageDemoDF.groupby(["Age Group"])

# Calculate total count of players by age group
totalCountByAge = ageGroupData["SN"].nunique()

# Calculate percentage of players per age group
percentByAge = round(totalCountByAge/numPlayers*100, 2)

# Display results as data frame
ageDemoDF = pd.DataFrame({"Total Count" : totalCountByAge,
                         "Percentage of Players" : percentByAge
                         })
ageDemoDF

           Total Count  Percentage of Players
Age Group
<10                 17                  2.95%
10-14               22                  3.82%
15-19              107                 18.58%
20-24              258                 44.79%
25-29               77                 13.37%
30-34               52                  9.03%
35-39               31                  5.38%
40+                 12                  2.08%

## Purchasing Analysis (Age)

In [7]:
# Calculate total number of purchases by age group
purchCountByAge = ageGroupData["SN"].count()

# Calculate average amount spent by each age group
avgPriceByAge = ageGroupData["Price"].mean()

# Calculate total amount spent by each age group
totalPurchValueByAge = ageGroupData["Price"].sum()

# Calculate the average total amount spent per person by age group
avgTotalPerPerson = totalPurchValueByAge / totalCountByAge

# Create data frame to hold results
purchAnalysisByAgeDF = pd.DataFrame({"Purchase Count" : purchCountByAge,
                                    "Average Purchase Price" : avgPriceByAge,
                                    "Total Purchase Value" : totalPurchValueByAge,
                                    "Avg Total Purchase Per Person" : avgTotalPerPerson})

# Format data frame
purchAnalysisByAgeDF["Average Purchase Price"] = purchAnalysisByAgeDF["Average Purchase Price"].map("${:.2f}".format)
purchAnalysisByAgeDF["Total Purchase Value"] = purchAnalysisByAgeDF["Total Purchase Value"].map("${:.2f}".format)
purchAnalysisByAgeDF["Avg Total Purchase Per Person"] = purchAnalysisByAgeDF["Avg Total Purchase Per Person"].map("${:.2f}".format)

purchAnalysisByAgeDF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [8]:
# Calcualte top spender data and display in data frame
topSpendersDF = purchaseData.groupby("SN").agg({"Price": ["count", "mean", "sum"]})
topSpendersDF.columns = topSpendersDF.columns.map("_".join)
topSpendersDF.sort_values("Price_sum", ascending=False, inplace=True)

# Set, rename, and format columns
columnNames = {"Price_count": "Purchase Count",
                              "Price_mean": "Average Purchase Price",
                              "Price_sum": "Total Purchase Value"}

topSpendersDF.rename(columns=columnNames, inplace=True)
topSpendersDF["Average Purchase Price"] = topSpendersDF["Average Purchase Price"].map("${:.2f}".format)
topSpendersDF["Total Purchase Value"] = topSpendersDF["Total Purchase Value"].map("${:.2f}".format)

topSpendersDF.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [9]:
# Retrieve Item ID, Item Name, and Item Price columns and group and calculate data
popItemsDF = purchaseData[["Item ID", "Item Name", "Price"]]
popItemsDF = popItemsDF.groupby(["Item ID", "Item Name"]).agg(["count", "mean", "sum"])

popItemsDF.columns = popItemsDF.columns.map("_".join)
popItemsDF = popItemsDF.sort_values("Price_count", ascending=False)

# Set, rename, and format columns
columnNames2 = {"Price_count": "Purchase Count",
                 "Price_mean": "Item Price",
                 "Price_sum": "Total Purchase Value"}

popItemsDF.rename(columns = columnNames2, inplace=True)
popItemsDF["Item Price"] = popItemsDF["Item Price"].map("${:,.2f}".format)
popItemsDF["Total Purchase Value"] = popItemsDF["Total Purchase Value"].map("${:,.2f}".format)

popItemsDF.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

In [10]:
# Calculate most profitable items by sorting most popular items by total purchase value
mostProfitDF = popItemsDF
mostProfitDF["Total Purchase Value"] = mostProfitDF["Total Purchase Value"].str.replace("$", "").astype(float)
mostProfitDF = popItemsDF.sort_values("Total Purchase Value", ascending=False)

mostProfitDF["Total Purchase Value"] = mostProfitDF["Total Purchase Value"].map("${:,.2f}".format)

mostProfitDF.head()

<ipython-input-10-f4645ef8a324>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  mostProfitDF["Total Purchase Value"] = mostProfitDF["Total Purchase Value"].str.replace("$", "").astype(float)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80